@font-face {
  font-family: "iconfont"; /* Project id 3625413 */
  src: url('iconfont.woff2?t=1663071996217') format('woff2'),
       url('iconfont.woff?t=1663071996217') format('woff'),
       url('iconfont.ttf?t=1663071996217') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cibiaoquanyi:before {
  content: "\e671";
}

.icon-danlieliebiao:before {
  content: "\e6e4";
}

.icon-liebiaoxunhuan:before {
  content: "\e609";
}

.icon-shuzishunxu:before {
  content: "\e7de";
}

.icon-suiji:before {
  content: "\e71f";
}

.icon-hanhan-01-01:before {
  content: "\e6ae";
}

.icon-xiazai:before {
  content: "\e60d";
}

.icon-xihuan:before {
  content: "\e761";
}

.icon-shangjiantou:before {
  content: "\e600";
}

.icon-xiajiantou:before {
  content: "\e601";
}

.icon-bofang:before {
  content: "\e87c";
}

.icon-jiahao:before {
  content: "\eaf3";
}

.icon-chahao:before {
  content: "\e60e";
}

.icon-shangyishou:before {
  content: "\e603";
}

.icon-xiayishou:before {
  content: "\e602";
}

.icon-24gf-pause2:before {
  content: "\ea81";
}

.icon-24gf-playCircle:before {
  content: "\ea82";
}

